/* General */
:root {
  --white: #ffffff;
  --black: #000000;
  --bg-color: #FEE3A2;
  --letter-color: #e6ab37;
  --letter-fill: #ffde59;
  --light-gray: #ADCACB;
  --text-input-field: #706c6c;
  --highlight-color: #87C159;
  --sm: 16px;
  --md: 18px;
  --lg: 25px;
}
@font-face {
  font-family: "Mofu";
  src: url(../fonts/Jua-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Mofu", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0;
  list-style-type: none;
}
input {
  font-size: inherit;
  border: none;
  outline: none;
  padding: 0;
  background: none;
}
h2 {
  margin: .5em 0;
}
.inactive {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 10;
}
.overlay:not(.inactive) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.overlay > div {
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 40rem;
}
.overlay > div > * {
  margin: 2rem;
}
#default-overlay {
  z-index: 1;
}
section {
  margin: 30px 20px;
}
section h2 img {
  position: relative;
  height: 1em;
  top: 3px;
}
i + span, img + span {
  margin-left: 0.5em;
}
aside {
  width: 100vw;
  height: auto;
  max-height: calc(100vh - 60px);
  box-sizing: border-box;
  position: fixed;
  overflow-x: auto;
  right: 0;
  background-color: var(--white);
  z-index: 2;
}
figure {
  position: relative;
}
.section__description {
  font-family: "Baloo 2", sans-serif;
}

/* Header */
header {
  display: block;
  position: relative;
  text-align: center;
  font-size: 0;
  padding: 10px 0;
  background-color: var(--bg-color);
  background-image: url("../assets/fondo-web.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid var(--light-gray);
}

/* Carousel */
.slides-container {
  margin: 30px 0;
  box-sizing: border-box;
}
.image-slides {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  max-width: 100vh;
  aspect-ratio: 23/16;
}
.image-slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.splide .splide__arrow {
  display: none;
}
.dots-container {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
.dot {
  border: 0;
  border-radius: 50%;
  background: #717171;
  color: #717171;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.4rem;
  margin: 0.25rem;
  cursor: pointer;
  margin: 0 2px;
  transition: background-color 0.3s ease;
}
.dot.is-active, .dot.is-active:focus {
  background-color: #fff;
}
.dot:hover,
.dot:focus {
  background: #fff;
}
.dot:focus {
  outline: 0 solid #717171;
  outline-offset: -4px;
}
.dot:active {
  transform: scale(0.99);
}

/* Product list */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 15px;
}
.product-card {
  display: flex;
  width: 200px;
  height: 100px;
}
.product-card a {
  position: relative;
}
.discount {
  position: absolute;
  padding: 2px 4px;
  padding-bottom: 0;
  font-size: 14px;
  top: 0;
  right: 0;
  text-align: center;
  border-radius: 14px;
  background-color: #ff0000;
  color: white;
}
.product-card img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  object-fit: cover;
}
.product-card .product-info {
  display: flex;
  margin: 0 0 0 20px;
  flex-direction: column;
}
.product-info small {
  padding-right: .5em;
  color: var(--text-input-field);
  font-weight: 500;
}
.product-card .product-info figure {
  margin-top: auto;
}
.product-card .product-info figure i {
  font-size: var(--lg);
  cursor: pointer;
}
.product-card .product-info figure i:hover,
.product-card .product-info figure i:active {
  color: var(--highlight-color);
}
.product-card .product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-card .product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--light-gray);
  max-height: 2.6em;
  overflow: auto;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--letter-color);
  font-size: var(--lg);
  margin: 0 0 .75em 0;
}
.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--letter-color);
}
.separator:not(:empty)::before {
  margin-right: .25em;
}
.separator:not(:empty)::after {
  margin-left: .25em;
}
.separator img {
  height: 1.25em;
  padding-right: .5em;
}

/* FAQ */
.faq div {
  margin-top: 1em;
}
.faq div p:first-child {
  display: list-item;
  margin-left: .5em;
  padding-left: .5em;
  list-style-type: '-';
  font-weight: bold;
}

/* About */
.about div p {
  margin-top: 1em;
}

/* Returns */
.returns div {
  margin-top: 1em;
}
.returns .primary-button {
  font-size: inherit;
  font-weight: inherit;
  width: auto;
  height: auto;
  padding: 5px 10px;
}

/***************************/
/***      DASHBOARD      ***/
/***************************/
.dashboard {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.dashboard h1 {
  font-size: 3rem;
  margin: 1rem 0;
}
.dashboard-menu {
  flex: 1 1 0;
  background-color: #f0f0f0;
}
.dashboard-menu ul {
  padding: 0;
}
.dashboard-menu a {
  display: flex;
  padding: 1rem;
  padding-left: 2rem;
  justify-content: space-between;
}
.dashboard-menu a:hover {
  background-color: #c0c0c0;
}
.dashboard-menu li.selected a {
  background-color: #c0c0c0;
  color: var(--letter-fill);
}
.dashboard-content {
  flex: 6 1 1%;
  padding: 1rem;
  width: 100%;
}
.dashboard-content button {
  font-size: var(--sm);
  width: auto;
  font-weight: normal;
  height: auto;
  padding: 2px 8px;
}
.dashboard-content #create-product-button{
  margin-bottom: 1em;
}
.dashboard-content tr td:first-child {
  max-width: 125px;
}
.dashboard-content tr td:last-child {
  text-align: center;
}
.summary-items {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.summary-items > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1 20rem;
}
.summary-title {
  background-color: #e0e0e0;
  font-size: 2rem;
  padding: 1rem;
}
.summary-body {
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}
.summary-title.color1 {
  background-color: #f0e0e0;
}
.summary-title.color2 {
  background-color: #e0f0e0;
}
.summary-title.color3 {
  background-color: #e0e0f0;
}
.charts {
  display: flex;
  justify-content: space-between;
}
.charts > div {
  flex: 1;
}

.dashboard .product-list {
  overflow-x: auto;
}
.product-list table {
  border-collapse: collapse;
}
.product-list thead tr {
  background-color: var(--highlight-color);
}
.product-list tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.product-list tbody tr:hover {
  background-color: #ddd;
}
.dashboard .product-list th,
.dashboard .product-list td {
  padding: 3px 5px;
  border: 1px solid #ddd;
}

/* Form */
.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  margin: 1em .5em;
}
.form-items {
  display: flex;
  flex-direction: column;
  width: 32rem;
  max-width: 100vw;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-items li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.form-container h1 {
  font-size: 2.5rem;
}
.form-items input {
  background-color: #f2f2f2;
}
.form-return {
  text-align: center;
  margin-top: .5em;
}
.form-return a {
  padding: 3px;
  background-color: #e0f0e0;
}