
/* Navbar (general) */
nav {
  position: sticky;
  top: 0;
  z-index: 3;
  width: 100%;
}
.main-navbar {
  position: relative;
  padding: 0 10px;
  border-bottom: 1px solid var(--light-gray);
  background-color: var(--white);
  z-index: 3;
}
.logo {
  height: 33vh;
}
.main-navbar ul {
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-navbar > ul > li {
  padding: .6em 0;
}
.main-navbar > ul > li > :first-child {
  padding: 8px;
  border-radius: 8px;
  color: var(--letter-color);
  border: 1px solid var(--white);
  cursor: pointer;
}
.main-navbar > ul > li a {
  display: inline-block;
}
.main-navbar > ul > li > :first-child:hover,
.main-navbar > ul > li > :first-child:active,
.main-navbar > ul > li > :first-child.tag-hover {
  border: 1px solid var(--highlight-color);
  color: var(--highlight-color);
}
.main-navbar ul li ul li {
  clear: both;
  width: 100%;
}
.main-navbar .search-bar {
  width: calc(24px + 3.22em);
	position: relative;
	display: inline-block;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}
.main-navbar .search-button {
	cursor: pointer;
}
.main-navbar .search-bar-on {
	width: 100%;
}
.main-navbar .search {
	position: absolute;
	left: 32px;
  width: 0;
  background-color: var(--white);
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}
.main-navbar .search:focus {
	width: calc(100% - 40px);
}
.navbar-shopping-cart {
  position: relative;
}
.navbar-shopping-cart div {
  height: 16px;
  padding: 0 5px;
  color: var(--white);
  background-color: var(--highlight-color);
  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  top: 5px;
  right: -5px;
  display: flex;
  justify-content: center;
}

/* Categories */
#categoriesContainer {
  display: none;
  visibility: hidden;
  position: absolute;
  height: auto;
  margin-left: -0.75em;
  margin-top: calc(.6em + 1px);
  color: var(--letter-color);
  background-color: var(--white);
  border-radius: 0 0 10px 10px;
  box-shadow: 10px 0px 10px -3px rgb(0, 0, 1, .3), 0px 10px 10px -3px rgb(0, 0, 0, .3), -10px 0px 10px -3px rgb(0, 0, 0, .3);
    transition: all 0.5s ease;
}
.main-navbar ul li:hover > #categoriesContainer,
.main-navbar ul li:focus > #categoriesContainer,
.main-navbar ul li #categoriesContainer:hover,
.main-navbar ul li #categoriesContainer:focus {
  visibility: visible;
  opacity: 1;
  display: block
}
#categoriesContainer a {
  display: inline-block;
  width: 100%;
  padding: 5px 15px;
}
#categoriesContainer li {
  position: relative;
  display: block;
  float: left;
  transition-duration: 0.5s;
  border-radius: initial;
}
#categoriesContainer li:last-child {
  border-radius: 0 0 10px 10px;
}
#categoriesContainer li:hover,
#categoriesContainer li:active {
  color: var(--letter-fill);
  background-color: var(--highlight-color);
}

/* Shopping Cart */
#shoppingCartContainer {
  padding-bottom: 20px;
  padding-top: 0;
}
#shoppingCartContainer .discount {
  font-size: 10px;
  border-radius: 10px;
  padding-bottom: 0;
}

.title-container {
  display: flex;
  padding-left: 10px;
}
.title-container i {
  align-self: center;
  color: var(--light-gray);
  margin-right: 14px;
}
.title {
  font-size: var(--lg);
  font-weight: bold;
  margin: 15px 0;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: #f7f7f7;
  margin: 15px 0;
  border-radius: 8px;
  padding: 1em 24px;
}
.order .order-title {
  font-size: var(--md);
  font-weight: bold;
}
.order .order-price {
  text-align: end;
  font-weight: bold;
}
.my-order-content {
  padding: 0 20px;
}
.shopping-cart {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 15px;
  margin-right: 20px;
  align-items: center;
}
.shopping-cart:last-child {
  margin-bottom: 0;
}
.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.shopping-cart .name,
.shopping-cart .qty {
  color: var(--light-gray);
}
.shopping-cart .price{
  font-size: var(--md);
  font-weight: bold;
}
.cart-items {
  max-height: calc(100vh - 282px);
  overflow-x: auto;
  margin-right: -20px;
}
.cart-container {
  max-width: 800px;
}
.cart-container .my-order-content {
  padding: 0;
}
.cart-container .cart-items {
  max-height: none;
}
.cart-container .shopping-cart figure img {
  width: 100px;
  height: 100px;
}
.cart-container .details {
  grid-column: 3;
}
.plus-minus {
  display: flex;
  margin-top: .5em;
}
.plus-minus input {
  width: 3em;
  text-align: center;
}
.cp-container {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}
.cp {
  display: flex;
  width: 210px;
  padding: 10px 15px;
  gap: 1em;
  border-radius: 10px;
  background-color: #f7f7f7;
}
.cp .inputGroup {
  margin: auto;
}
.link-cp a {
  text-decoration: underline;
}
.link-cp {
  margin-bottom: .5em;
  padding-left: 1em;
}