
/* Product Deatil */
#productDetail {
  font-size: var(--md);
}
#productDetail > img:nth-child(1) {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  aspect-ratio: 1256/1265;
}
#productDetail .product-info {
  margin: 20px;
}
#productDetail .product-info > p:nth-child(1) {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: var(--lg);
  color: var(--letter-color);
}
#productDetail .product-info > p:nth-child(2) {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 25px;
}
#productDetail .product-info .product-description {
  font-family: "Baloo 2", sans-serif;
  margin-top: 1em;
  margin-bottom: 20px;
  color: var(--text-input-field);
}
#productDetail .product-info > :nth-child(5) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0.5em;
}
.primary-button {
  height: 50px;
  width: 100%;
  font-family: "Mofu", sans-serif;
  font-size: var(--lg);
  font-weight: bold;
  color: var(--letter-fill);
  background-color: var(--highlight-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}