
/* Product Deatil */
#productDetail {
  font-size: var(--md);
}
#productDetail > img:nth-child(1) {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
#productDetail .product-info {
  margin: 20px;
}
#productDetail .product-info > p:nth-child(1) {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: var(--lg);
  color: var(--letter-color);
}
#productDetail .product-info > p:nth-child(2) {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 25px;
}
#productDetail .product-info .product-description {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--text-input-field);
}
#productDetail .product-info > p:nth-child(3) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 20px;
}
.primary-button {
  background-color: var(--highlight-color);
  color: var(--letter-fill);
  border-radius: 8px;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: var(--lg);
  font-weight: bold;
  height: 50px;
}